.container {
  width: 200px;
  height: 500px;
  border: solid 1px #ddd;
  float: left;
}
#div1 {
  border-radius: 25px;
  width: 200px;
  height: 500px;
  border: solid 2px #32377A;
  float: left;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: #F1F1F8;
  
}
#inputboard {
  font-family: "Verdana", Tahoma, sans-serif;
  margin-left: auto;
  margin-right: auto;
}
input {
  width: 75%;
  border-radius: 25px;
  padding: 10px 10px;
  border: none;
  background-color: #CFCBF6;
}
input:focus {
  border: 3px solid#32377A;
  text-decoration-line: underline; 
}
h2 {
  font-family: "Verdana", Tahoma, sans-serif;
  color: #5861C6;
}
p {
  font-family: "Verdana", Tahoma, sans-serif;
}
button {
  border-radius: 25px;
  margin: auto;
  width: 100px;
}


